<div class="text-center mb-1">
    <div class="item modal_ wide">
        <p><strong>{{ course }} notes</strong></p>
        <p>This website collects my personal notes on {{ course }}. These notes are provided to bring full transparency to my research process. Of course, since they are only notes, they do not reflect my final thoughts on a topic, and should not be interpreted as such. To read finished papers, please consult my <a href="http://anthe.sevenants.net/">website</a>. Do not use these notes as a basis for your own scientific research. Start from high-quality, peer-reviewed scientific literature instead.</p>
    </div>
</div>