{% extends "vs-base.html" %}
{% block content %}
<div class="summary vdsk" id="segment_renderedViewer">
    {{ markdown | raw }}
</div>

<script>
    class UI {
        static scrolledToBottom(overflowElement) {
            let scrollMax = UI.scrollBottomMax(overflowElement);
            return (Math.ceil(overflowElement.scrollTop) >= scrollMax - 10 || Math.floor(overflowElement.scrollTop) >= scrollMax - 10);
        }

        static scrollBottomMax(overflowElement) {
            /* for VS Code: replace offsetHeight with clientHeight !!! */
            return Math.round(overflowElement.scrollHeight - overflowElement.clientHeight);
        }


        static scrollToBottom(overflowElement) {
            overflowElement.scrollTop = UI.scrollBottomMax(overflowElement);
        }

        static scrollToPosition(overflowElement, scrollPosition) {
            overflowElement.scrollTop = scrollPosition;
        }
    }

    /*
        Summarine allows you to prefix a list item with either => or <-> which translate to the fancy
        arrows you see below. Then, the following code sets their bullet to this symbol.
    */

    function adaptList(targetElement) {
        var elementsLi = targetElement.getElementsByTagName('li');

        for (var i = 0; i < elementsLi.length; i++) {
            var elementIndex = i;

            var firstChild = elementsLi[elementIndex].firstChild;

            if (firstChild != null) {
                if (firstChild.nodeValue != null) {
                    let character = firstChild.nodeValue.substring(0, 1);

                    let charClassMap = { "⇒": "conclusion", "⟷": "contrast", "↳": "result", "≠": "unequal" };

                    if (character in charClassMap) {
                        elementsLi[elementIndex].className = charClassMap[character];
                        firstChild.nodeValue = firstChild.nodeValue.substring(1, firstChild.nodeValue.length);
                    }
                }
            }
        }
    }

    function adaptCode(targetDocument) {
        let elementsCode = targetDocument.getElementsByTagName("code");
        for (var i = 0; i < elementsCode.length; i++) {
            var elementCode = elementsCode[i];

            if (typeof elementCode.className == "") {
                elementCode.className = "language-none";
            }

            Prism.highlightElement(elementCode);
        }
    }

    /*
        With the new page cite containers etc, the counter-increments no longer work
        So, I'm counting everything manually 
    */
    function adaptHeaders(targetDocument) {
        let headers = targetDocument.querySelectorAll("h1,h2,h3,h4,h5,h6");

        let headerCount = [0, 0, 0, 0, 0, 0];
        headers.forEach(header => {
            // e.g. "h4" = index 3
            const level = parseInt(header.localName.charAt(1)) - 1;

            headerCount[level]++;

            let headerPrefix = "";
            for (let i = 1; i <= level; i++) {
                headerPrefix += `${headerCount[i]}.`;
            }

            for (let i = level + 1; i < headerCount.length; i++) {
                headerCount[i] = 0;
            }

            //headerPrefix = headerPrefix.substring(0, headerPrefix.length - 1);

            header.textContent = `${headerPrefix} ${header.textContent}`;
        });
    }

    function doAdapt(targetElement) {
        adaptList(targetElement);
        adaptCode(targetElement);
        adaptHeaders(targetElement);
    }

    /* 
        Code for shifting along the scroll bar when new elements are added.
        I don't even know how or why or what. I just copy-pasted it from the previous
        version please don't shoot me.

        2019-02-23: I have added 'overflowElement' to the parameters. The elementoverflowing is possibly not the element whereto the markdown is rendered (because of the new pdf page)

        2024-10-06: here we are again 🥲 I copied this code into the VS Code extension. Viva Summarine!
    */
    function updateHtml(htmlContent) {
        overflowElement = document.documentElement;

        if (UI.scrolledToBottom(overflowElement)) {
            var scroll = true;
        }
        console.log(scroll);
        let scrollPosition = overflowElement.scrollTop;

        /* Actually push the rendered HTML to the element */
        renderedViewer.innerHTML = htmlContent

        doAdapt(renderedViewer);

        /* 
            If the scroll bar was previously at the bottom before we added the new HTML,
            put it there again.
        */
        if (scroll) {
            UI.scrollToBottom(overflowElement);
        }
        else {
            UI.scrollToPosition(overflowElement, scrollPosition);
        }
    }

    const renderedViewer = document.querySelector("#segment_renderedViewer");
    doAdapt(renderedViewer);

    window.addEventListener('message', event => {
        const message = event.data; // The JSON data our extension sent

        switch (message.command) {
            case 'update':
                updateHtml(message.content);
                break;
        }
    });
</script>
</div>
{% endblock %}